*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style:none;
    text-decoration: none;
    
}

/*.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}*/


header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img{
    max-width: 120px;
    height: auto;
}

.navMenu{
    display: flex;
}
